travel-diary-exchange-rate/src/main/resources/xsd/cbrValCurs.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ValCurs">
        <xs:annotation>
            <xs:documentation>Официальные курсы валют на заданную дату, устанавливаемые ежедневно</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Valute">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumCode" type="xs:unsignedShort">
                                <xs:annotation>
                                    <xs:documentation>ISO Цифр. код валюты</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CharCode" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>ISO Букв. код валюты</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Nominal" type="xs:unsignedInt">
                                <xs:annotation>
                                    <xs:documentation>номинал. ед</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Name" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Название валюты</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Value" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Значение</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>Внутренний уникальный код валюты</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Date" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Дата установления курса (может отличатся от запрашиваемой если на запрашиваемою дату курс не устанавливался)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Имя документа</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
